{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<section id="body-content">
    <p class="quote">«Me rappellant les plaisirs que j'eus je me les renouvelle» (Casanova)</p>

    <p class="large"><b>_("Welcome to myX!")</b></p>

    <ul>
        <li><a href="{{ path('app_practica_index') }}" target="_self">Practica</a></li>
        <li><a href="{{ path('app_amores_index') }}" target="_self">Amores</a></li>
        <li><a href="{{ path('app_loca_index') }}" target="_self">Loca</a></li>
    </ul>

</section>
{% endblock %}
