{% extends 'base.html.twig' %}

{% block title %}Hello AppLoginController!{% endblock %}

{% block body %}

<script>
    // document.getElementById('login-form').onsubmit(() => {
    //     fetch('/login', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/x-www-form-urlencoded',
    //             'Accept': '*/*'
    //         },
    //         body: new URLSearchParams({
    //             'email': 'email@me.com',
    //             'password': 'hardCodedPassword'
    //         })
    //     })
    //         .then(response => console.log(response.data))
    //         .catch(error => console.log(error.response.data));
    // });
 </script>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form id="login-form" action="{{ path('app_login') }}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}
