{% extends 'base.html.twig' %}

{% block title %}New Locus{% endblock %}

{% block body %}
    <h1>Create new Locus</h1>

    {{ include('loca/_form.html.twig') }}

    <a href="{{ path('app_loca_index') }}">back to list</a>
{% endblock %}
